{% extends "page.html" %}
{% if announcement_home %}
  {% set announcement = announcement_home %}
{% endif %}

{% block main %}

<div class="container"
      style="flex: auto; width: auto; height: calc(100vh - 42px); 
            padding-right: 0;
            padding-left: 0;
            margin-top: -20px;
            justify-content: center;
            display: flex;
            flex-direction:column;
            overflow: auto;
            box-sizing: border-box;">
    <iframe style="height: 100%;" src="/grafana/d/Oxed_c6Wz/nvidia-dcgm-exporter-dashboard?orgId=1&from=now-1h&to=now" frameborder="0" allowfullscreen></iframe>
</div>

{% endblock main %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["home"]);
</script>
{% endblock %}
