{% extends "page.html" %}

{% block main %}

<div class="container">
<div class="row">
        <div style="background: url(https://storage.googleapis.com/utd/assets/paint.svg) no-repeat center center; background-size: auto 100%; height: 250px;"></div>
 </div>
  <div class="row">
    <div class="text-center">
      {% block message %}
        <h2>Your server is stopping.</h2>
        <h3>You will be able to start it again once it has finished stopping.</h3>
      {% endblock message %}
      <p><i class="fa fa-spinner fa-pulse fa-fw fa-3x" aria-hidden="true"></i></p>
      <a role="button" id="refresh" class="btn btn-info" href="#">refresh</a>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["jquery"], function ($) {
  $("#refresh").click(function () {
    window.location.reload();
  });
  setTimeout(function () {
    window.location.reload();
  }, 5000);
});
</script>
{% endblock %}
